<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjucsc.application.system.mapper.ArtConfigMapper">

    <delete id="deleteArtConfigByProtocolIdAndMinLength">
        DELETE FROM art_config WHERE protocol_id=#{protocolId} AND min_length=#{minLength}
    </delete>

    <select id="getAllArtConfig" resultType="com.zjucsc.application.system.entity.ArtConfig">
        SELECT * FROM art_config
    </select>

    <select id="getConfigPaged" resultType="com.zjucsc.application.system.entity.ArtConfig">
        SELECT * FROM art_config
        <where >
            <if test="protocolId>0">
                protocol_id=#{protocolId}
            </if>
            <if test="minLength>0">
                AND min_length=#{minLength}
            </if>
        </where>
        LIMIT #{start} , #{end}
    </select>

</mapper>
