<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjucsc.application.system.mapper.ConfigurationMapper">
    <resultMap id="configuration" type="com.zjucsc.application.system.entity.Configuration">
        <id column="id" property="id" jdbcType="NUMERIC"/>
        <id column="protocol_id" property="protocol_id" jdbcType="NUMERIC"/>
        <id column="fun_code" property="fun_code" jdbcType="NUMERIC"/>
        <id column="opt" property="opt" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- 查询分页总数 -->
    <select id="selectCount" resultType="java.lang.Integer" parameterType="com.zjucsc.application.domain.bean.ConfigurationForSelect">
        SELECT COUNT(*) FROM configuration
        <where>
            <if test="configurationForSelect.codeDes!=null and configurationForSelect.codeDes!=''" >
                <bind name="zz1" value="'%' + configurationForSelect.codeDes + '%'" />
                opt like #{zz1}
            </if>
        </where>
    </select>

    <!--规则查询-->
    <select id="selectPageInfo"  resultMap="configuration" parameterType="java.lang.String">
        SELECT * FROM configuration
        <where>
            <if test="codeDes!=null and codeDes!=''">
                <bind name="zz" value="'%' + codeDes + '%'"/>
                  opt LIKE #{zz}
            </if>
        </where>
        LIMIT #{startIndex} , #{endIndex}
    </select>
</mapper>