<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjucsc.application.system.mapper.DeviceMapper">
    <update id="updateDeviceInfo" >
        UPDATE device_info SET device_type=#{deviceType} , device_info = #{deviceInfo} ,device_tag = #{deviceIp}
          WHERE device_number= #{deviceId} AND gplot_id=#{gplotId};
    </update>

    <select id="selectDeviceByIdAndGplot" resultType="com.zjucsc.application.system.entity.Device">
        SELECT * FROM device_info WHERE device_number=#{deviceId} AND gplot_id=#{gplotId};
    </select>

    <select id="selectDeviceNumberByCollectorTag" resultType="java.lang.String">
        SELECT device_number FROM device_info WHERE  device_tag = #{deviceTag};
    </select>
</mapper>
