<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjucsc.application.system.mapper.DeviceMapper">

    <update id="updateDeviceInfo" >
        UPDATE device_info SET device_type=#{deviceType} , device_info = #{deviceInfo} ,device_tag = #{deviceIp}
          WHERE device_number= #{deviceId} AND gplot_id=#{gplotId};
    </update>

    <select id="selectDeviceByIdAndGplot" resultType="com.zjucsc.application.system.entity.Device">
        SELECT * FROM device_info WHERE device_number=#{deviceId} AND gplot_id=#{gplotId};
    </select>

    <select id="selectDeviceNumberByCollectorTag" resultType="java.lang.String">
        SELECT device_number FROM device_info WHERE  device_tag = #{deviceTag};
    </select>

    <resultMap id="deviceNumberAndIp" type="com.zjucsc.application.domain.bean.DeviceNumberAndIp">
        <result property="deviceNumber" column="device_number" jdbcType="java.lang.String"/>
        <result property="deviceIp" column="device_tag" jdbcType="java.lang.String"/>
    </resultMap>

    <select id="loadAllDevicesByGplotId" resultMap="deviceNumberAndIp">
        SELECT device_number,device_tag FROM device_info WHERE gplot_id = #{gplotId}
    </select>

    <select id="loadAllFvDimensionFilterByDeviceNumberAndGpotId" resultMap="com.zjucsc.application.system.entity.FvDimensionFilter">
        SELECT * FROM fv_dimension_filter WHERE device_number = #{deviceNumber} AND gplot_id = #{gplotId}
    </select>

    <select id="loadAllOptFiterByDeviceNumberAndGplotId" resultMap="com.zjucsc.application.system.entity.OptFilter">
        SELECT * FROM opt_filter WHERE device_number = #{deviceNumber} AND gplot_id = #{gplotId};
    </select>

    <delete id="removeDeviceByDeviceNumberAndGplotId" >
        DELETE FROM csc_db.device_info WHERE device_number=#{deviceNumber} AND gplot_id=#{gplotId}
    </delete>

    <delete id="removeAllDevicesByGplotId">
        DELETE FROM csc_db.device_info WHERE gplot_id = #{gplotId}
    </delete>
</mapper>
