<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjucsc.application.system.mapper.OptFilterMapper">

    <delete id="deleteFilterByDeviceId" >
        delete * from opt_filter where device_id = #{deviceId}
    </delete>

    <select id="selectTargetOptFilter" resultType="java.lang.Integer">
        SELECT fun_code from  opt_filter where device_number=#{device_id} AND filter_type=#{type} AND protocol_id=#{protocolId}
    </select>
</mapper>
