<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjucsc.application.system.dao.UserOptMapper" >
    <resultMap type="com.zjucsc.application.domain.entity.User" id="usermap">
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="role" property="role"/>
    </resultMap>
    <select id="getAllUserInfo" resultMap="usermap">
        select name,role from user
    </select>
</mapper>